.header-part
{
	text-align: center;
	color: #FFFFFF;
	background-image: url('../img/banner.jpg');
	padding: 10%;

}

#main-title
{
	font-size: 300%;
}

#subtitle
{
	font-size: 70%;
	line-height: 10%;
}

body
{
	padding-right: 100px;
	padding-left: 100px;
	font-family: sans-serif;
}

.ul
{
	list-style-type: none;
}

.div-left
{
	float: left;
	width: 70%;
}

.div-right
{
	float: right;
	width: 30%;
}

.div-bottom
{
	display: inline-block;
	text-align: justify;
	width: 100%;
}

.div-bottom:after
{
	content: '';
	width: 100%;
	height: 0;
}

.bottom-left
{
	float: left;
	width: 33%;
}

.bottom-mid
{
	float: left;
	width: 33%; 
}

.bottom-right
{
	float: left;
	width: 33%;
}

#button
{

}

.footer-part
{ 
	background-color: #1F1F1F;
	color: white;
}

.footer-left
{
	float: left;
	width: 33%;
}

.footer-mid
{
	float: 	left;
	width: 33%;
}

.footer-right
{
	float: left;
	width: 33%;
}
