header
{
	text-align: center;
	color: #FFFFFF;
	background-image: url('../img/banner.jpg');
	background-repeat: no-repeat;
	padding-bottom: 125px;
	padding-top: 125px;
	

}

#main-title
{
	font-size: 50px;
	margin-bottom: 0; 
}

#subtitle
{
	font-size: 10px;
	margin-top: 0;
}

body
{
	margin-left: 350px;
	margin-right: 350px;
	font-family: sans-serif;
}

#menu
{
	color: #FFFFFF;
}

#menu ul li
{
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 14px;
}

.div-left
{
	float: left;
	width: 800px;
}

.div-right
{
	float: right;
	width: 350px;
}

.div-bottom
{
	display: inline-block;
	text-align: center;
}

.bottom-left
{
	float: left;
	width: 388px;
}

.bottom-mid
{
	float: left;
	width: 388px; 
}

.bottom-right
{
	float: left;
	width: 388px;
}

button
{
	background-color: #FF6633;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer
{ 
	background-color: #1F1F1F;
	color: white;
	display: inline-block;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 40px;
}

.footer-left
{
	float: left;
	width: 370px;
}

.footer-mid
{
	float: 	left;
	width: 370px;
}

.footer-right
{
	float: left;
	width: 370px;
}
