header, footer
{
	background-color: #333333;
	color: #FFFFFF;
}

body
{
	width: 1800px;
	font-family: sans-serif;
}

nav
{
	text-align: right;
}

img
{
	width: 900px;
	float: left;
}

article
{
	width: 900px;
	float: left;
}

.div
{
	margin-top: -20px;
	background-color: #00AEE1;
	color: #FFFFFF;
	text-align: center;
	height: 450px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	padding-left: 450px;
	padding-right: 450px;
}

.left-article
{

}

.green-part
{

}

.green-part-top, .blue-part-top, .purple-part-top
{
	background-color: #FFFFFF;
	text-align: right;

}

.green-part-bot
{

}

.blue-part
{

}

.purple-part
{

}