body
{
	padding-left: 340px;
	padding-right: 340px;
	text-align: center;
	font-family: sans-serif;
}

header, footer
{
	background-color: #2e1000;
	color: #FFFFFF;
	padding: 100px;
}

#homepage
{
	background-color: #D13650;
	padding: 7px;
}

footer
{
	font-size: 10px;
}

article
{
	background-color: #ED6028;
	padding-top: 90px;
	padding-bottom: 90px;
}

button
{
	background-color: #D13650;
	color: #FFFFFF;
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
}

#menu
{
	color: #FFFFFF;
	padding-bottom: 20px;
}

#menu ul 
{
	font-size: 13px;
    padding-top: 20px;
}

#menu ul li 
{
	display: inline;
	margin: 35px;
}

div
{
	display: inline-block;
}

.ml-part
{
	float: left;
	width: 375px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.vv-part
{
	float: left;
	width: 285px;
	padding-bottom: 80px;
}