body
{
	padding-right: 10px;
	padding-left: 10px;
	font-family: sans-serif;
}

header, footer, button
{
	background-color: #009999;
}

button
{
	padding: 17px;
	padding-left: 25px;
	padding-right: 25px;
	color: #FFFFFF;
}

#menu
{
	color: #FFFFFF;
	padding-bottom: 20px;
}

#menu h1
{
	font-size: 50px;
	margin-left: 200px;
	padding-top: 50px;
}

#menu ul 
{
	background-color: #00BDA8;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;

    margin-left: 50px;
    margin-right: 800px;

}

#menu ul li 
{
	display: inline;
	margin: 40px;
}

h2
{
	padding-top: 50px;
	font-size: 50px;
}

article
{
	text-align: center;
}

.article1
{
	padding-left: 35px;
	padding-right: 35px;
 	margin-bottom: 100px;
}

section
{
	display: inline-block;
}

.ml-part
{
	float: left;
	width: 400px;
	padding: 50px;
	padding-right: 80px;
	padding-left: 125px;
}


.vv-part
{
	float: left;
	width: 350px;
	padding: 50px;
	padding-right: 10px;
	padding-left: 80px;	
}

footer
{
	text-align: center;
	padding: 180px;
	color: #FFFFFF;
}